<a target="_blank" href="https://colab.research.google.com/github/svniko/python-fund-2023/blob/main/Lecture10.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>

# Lecture 10

# Кортежі

In [1]:
tuple_1 = (1, 2, 3, 4)
tuple_1

(1, 2, 3, 4)

In [3]:
tuple_1 = 1, 2, 3, 4
tuple_1

(1, 2, 3, 4)

In [4]:
tuple_1 = (1, 2.3, [1, 2, 3], 'Hi', (2, 3, 4), {1, 2, 3})
tuple_1

(1, 2.3, [1, 2, 3], 'Hi', (2, 3, 4), {1, 2, 3})

In [5]:
tuple_1[0], tuple_1[2]

(1, [1, 2, 3])

In [6]:
tuple_1[0] = 0

TypeError: 'tuple' object does not support item assignment

In [7]:
tuple_1 = (1, 2, 3, 1, 2, 3, 1, 2, 3)
tuple_1

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [8]:
empty_tuple = ()
type(empty_tuple)

tuple

In [9]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [10]:
tuple((1, 2, 3, 4))

(1, 2, 3, 4)

In [11]:
tuple('Python')

('P', 'y', 't', 'h', 'o', 'n')

In [12]:
tuple('Python Fundamentals')

('P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'F',
 'u',
 'n',
 'd',
 'a',
 'm',
 'e',
 'n',
 't',
 'a',
 'l',
 's')

In [13]:
not_one_element_tuple = (1)
not_one_element_tuple

1

In [14]:
one_element_tuple = (1, )
one_element_tuple

(1,)

In [15]:
one_element_tuple = 1, 
one_element_tuple

(1,)

In [16]:
my_tuple = (1, 10, 100, 1000, 10000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])
print(my_tuple[:-2])
print(my_tuple[::2])
print(my_tuple[::-2])
print('\n')
for elem in my_tuple:
    print(elem)

1
10000
(10, 100, 1000, 10000)
(1, 10, 100)
(1, 100, 10000)
(10000, 100, 1)


1
10
100
1000
10000

In [17]:
len(my_tuple)

5

# Оператори кортежів

In [18]:
(1, 2) + (3, '4')

(1, 2, 3, '4')

In [20]:
tuple_1 = (1, 2)
print(id(tuple_1))
tuple_2 = (3, '4')
tuple_1 = tuple_1 + tuple_2
print(id(tuple_1))
tuple_1

21811688
115853664

(1, 2, 3, '4')

In [21]:
pets = ('cat', 'dog', 'hamster')
my_tuple = pets * 3
my_tuple

('cat', 'dog', 'hamster', 'cat', 'dog', 'hamster', 'cat', 'dog', 'hamster')

in 
not in

In [23]:
'cow' in pets

False

In [24]:
'cow' not in pets

True

In [25]:
pets[0] = 'duck'

TypeError: 'tuple' object does not support item assignment

In [ ]:
- у список
- змінити список
- у кортеж

In [26]:
pets

('cat', 'dog', 'hamster')

In [28]:
print(id(pets))
pets_list = list(pets)
pets_list[0] = 'duck'
pets = tuple(pets_list)
print(id(pets))
pets

20976232
115863784

('duck', 'dog', 'hamster')

# Розпакування

In [30]:
pets

('duck', 'dog', 'hamster')

In [33]:
quack, bark, squeak = pets
print(quack)
print(bark)
print(squeak)

duck
dog
hamster

In [34]:
quack, bark = pets

ValueError: too many values to unpack (expected 2)

In [35]:
quack, bark, squeak, buzz = pets

ValueError: not enough values to unpack (expected 4, got 3)

In [36]:
pets = ('cat', 'dog', 'hamster', 'guinea pig', 'duck', 'ferret')
meow, bark, *squeak = pets
print(meow)
print(bark)
print(squeak)

cat
dog
['hamster', 'guinea pig', 'duck', 'ferret']

In [37]:
meow, *bark, squeak = pets
print(meow)
print(bark)
print(squeak)

cat
['dog', 'hamster', 'guinea pig', 'duck']
ferret

In [41]:
pets = ['cat', 'dog', 'hamster', 'guinea pig', 'duck', 'ferret']
meow, bark, *squeak = pets
print(meow)
print(bark)
print(squeak)

cat
dog
['hamster', 'guinea pig', 'duck', 'ferret']

In [42]:
pets = {'cat', 'dog', 'hamster', 'guinea pig', 'duck', 'ferret'}
meow, bark, *squeak = pets
print(meow)
print(bark)
print(squeak)

hamster
duck
['cat', 'guinea pig', 'ferret', 'dog']

In [43]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [45]:
tuple_1 = ('a', 'b', 'b', 'c', 'c', 'c')
tuple_1.count('c')

3

In [47]:
print(tuple_1.index('b', 2))

2

In [48]:
def min_max(lst):
    return min(lst), max(lst)

In [50]:
list_1 = [100, 2, 3, 4 ,5, 34, -24, 0]
min_max(list_1)

(-24, 100)

In [52]:
min_1, max_1 = min_max(list_1)
print(min_1)
print(max_1)

-24
100

In [54]:
min_2 = min_max(list_1)
print(min_2)

(-24, 100)

In [56]:
min_3 = min_2[0]
min_3

-24

In [58]:
min_4, *_ = min_max(list_1)
print(min_4)

-24

In [61]:
def min_max_sum(lst):
    return min(lst), max(lst), sum(lst)

In [63]:
min_1, max_1, _ = min_max_sum(list_1)
print(min_1)
print(max_1)

-24
100

In [64]:
min_1, max_1, sum_1 = min_max_sum(list_1)
print(min_1)
print(max_1)
print(sum_1)

-24
100
124

In [66]:
pets = ('cat', 'dog', 'hamster', 'guinea pig', 'duck', 'ferret')
pets

('cat', 'dog', 'hamster', 'guinea pig', 'duck', 'ferret')

In [67]:
for pet in pets:
    print(pet)

cat
dog
hamster
guinea pig
duck
ferret

In [68]:
for i in range(len(pets)):
    print(pets[i])

cat
dog
hamster
guinea pig
duck
ferret

In [ ]:
enumerate()

In [70]:
for i, pet in enumerate(pets):
    print(i, pet)

0 cat
1 dog
2 hamster
3 guinea pig
4 duck
5 ferret

In [71]:
enumerate(pets)

In [72]:
tuple(enumerate(pets))

((0, 'cat'),
 (1, 'dog'),
 (2, 'hamster'),
 (3, 'guinea pig'),
 (4, 'duck'),
 (5, 'ferret'))

In [73]:
list(enumerate(pets))

[(0, 'cat'),
 (1, 'dog'),
 (2, 'hamster'),
 (3, 'guinea pig'),
 (4, 'duck'),
 (5, 'ferret')]

In [74]:
for i, pet in enumerate(pets, start=10):
    print(i, pet)

10 cat
11 dog
12 hamster
13 guinea pig
14 duck
15 ferret

In [ ]:
SaRcAsM

In [75]:
def sarcasm(text):
    lst = []
    for i, char in enumerate(text):
        if i%2 != 0:
            lst.append(char.lower())
        else:
            lst.append(char.upper())
            
    return ''.join(lst)

In [76]:
sarcasm('Python FundaMentals')

'PyThOn fUnDaMeNtAlS'

In [79]:
def sarcasm_1(text):
    lst = [char.lower() if i%2 else char.upper() for i, char in enumerate(text) ]
    return ''.join(lst)

In [80]:
sarcasm_1('PYTHON FUNDAMENTALS')

'PyThOn fUnDaMeNtAlS'

# Словники Python

key: value

Словники є
- впорядкованими
- змінними
- не дозволяють дублікатів

```Python
d = {
    <key>:<value>,
    <key>:<value>,
    <key>:<value>,
    .
    .
    .
    <key>:<value>
}
```

In [81]:
my_dict = {'James Bond':'bond007@mi7.gov.uk',
          'Bill Gates': 'billg@microsoft.com'}
my_dict

{'James Bond': 'bond007@mi7.gov.uk', 'Bill Gates': 'billg@microsoft.com'}

In [82]:
my_dict1 = dict([('James Bond','bond007@mi7.gov.uk'),
                ('Bill Gates', 'billg@microsoft.com')])
my_dict1

{'James Bond': 'bond007@mi7.gov.uk', 'Bill Gates': 'billg@microsoft.com'}

In [84]:
type(my_dict1)

dict

In [87]:
my_dict2 = dict(James_Bond='bond007@mi7.gov.uk',
                Bill_Gates='billg@microsoft.com')
my_dict2

{'James_Bond': 'bond007@mi7.gov.uk', 'Bill_Gates': 'billg@microsoft.com'}

Ключі в словнику
- не повинно бути дублікатів
- тип даних ключа повинен бути незмінним

In [89]:
dict_1 = {'a':1, 'b':2, 'a': 3, 'a':4}
dict_1

{'a': 4, 'b': 2}